@model List<Category>
<div class=" card shadow border-0 my-5">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class=" row">
            <div class="col-12 text-center">
                <h2 class="text-white fs-2 fw-bold"> Category List</h2>
            </div>
        </div>
    </div>

    <div class=" card-body p-4">
        <div class="row pb-2">
            <div class="col-6">

            </div>
            <div class="col-6 text-end">
                <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                    <i class=" bi bi-plus-circle"></i> Create New category
                </a>

            </div>
        </div>
        <table class="table-striped table table-bordered shadow p-3 border">
            <thead>
                <tr>
                    <th class="p-2">Name</th>
                    <th class="p-2">Display order</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderBy(u => u.DisplayOrder))
                {
                    <tr>
                        <td class="p-2">@item.Name</td>
                        <td class="p-2">@item.DisplayOrder</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="category" asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning me-3 rounded">
                                    <i class="bi bi-pencil-square"></i> Update
                                </a>
                                <a asp-controller="category" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger rounded">
                                    <i class="bi bi-trash-fill"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>